<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aykuttasil.androidbasichelperlib">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application>

    </application>

</manifest>
